<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Creează un cont nou</span>
    <div class="input-field">
      <input
        formControlName="email"
        id="email"
        type="email"
        [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
      >
      <label for="email">Email:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <span *ngIf="form.get('email').errors['required']">E-mailul nu trebuie să fie gol </span>
        <span *ngIf="form.get('email').errors['email']">Introduceți o adresă de email validă </span>
      </span>
    </div>
    <div class="input-field">
      <input
        id="password"
        type="password"
        formControlName="password"
        [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
      >
      <label for="password">Пароль:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
        <span *ngIf="form.get('password').errors['required']">Parola nu trebuie să fie goala</span>
        <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          Parola trebuie să aiba o lungime mai mare de {{form.get('password').errors['minlength']['requiredLength']}} simboluri.
          La moment {{form.get('password').errors['minlength']['actualLength']}}
        </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect"
      [disabled]="form.invalid || form.disabled"
    >
      Creează
    </button>
  </div>
</form>

